@import '_h5bp';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,800);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */
@import 'components/components';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
button {
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-weight: 300;
  font-family: 'Droid Sans', sans-serif;
  background-color: #fff;
  box-sizing: border-box;
  min-height: 100%;
  color: #222;
  font-size: $fontBase;
  line-height: 1.6250em; /* 26px */
}

body.open {
  overflow: hidden;
}

.base,
p,
ul,
ol {
  font-size: 19px;
}

/** Larger Screens - desktops and tablets **/
@media all and (min-width: 990px) {
  body {
    overflow-y: scroll;
  }
}
